body {
	background-color: #949494;
	font-family: "felix titling";
}
h1 {
	border-bottom: 3px solid black;
	width: 30%;
	font-size: 30px;

}
img{
	border: 7px double #194252;
}
ul{
	position: absolute;
	top: 8px;
	right: 10px;
	border-bottom: 3px solid;
	padding-bottom: 2px;
	font-size: 20px;
}
li {
	display: inline;
	border-right: 1px solid #2d2d2d;
	padding-right: 2px;
}
small{
	text-decoration: underline solid;
}
#div1{
	float: right;
	text-align: center;
  	width: 300px;
  	border: 7px double #643f65;
 	padding: 10px;
 	background-color: rgb(42, 114, 120, 0.3);
 }
a {
	text-decoration: none;
}
a:hover{color:white}